html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* background-color: rgb(32, 32, 32); */
}

img {
  margin-bottom: 10px;
}

.stats {
  display: flex;
  /* justify-content: space-between; */
}

.stats-item {
  display: flex;
  align-items: center;
  margin-right: 17px;
}

.btn {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: rgb(28, 142, 218);
  transition: 0.3s;
}

.btn:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}
